.navbar-brand{
  font-size: 1.8em;
  border: solid black 1px;
  padding: 10px 10px 10px 10px;
   background-color: #faf0e6;
}

.nav-link {
    background-color: #faf0e6;
   border: solid black 1px;
   width: 70px;
   margin-top: 5px;
   height: 30px;
   text-align: center;
   padding:  2px 2px 2px 2px;
}

a {
  margin-right: 10px;
  font-family: 'Fascinate', cursive;
}

body {
  background-color: #faf0e6;
}

 h1 {
  text-transform: uppercase;
  font-family: 'Fascinate', cursive;
}

h3 {
  font-family: 'Fascinate', cursive;
  background-color: #ffdab9;
  margin-bottom: 0;
}

p{
  background-color: #ffdab9;
  font-family: 'Tajawal', sans-serif;

}
/*.row {
  background-color: #ffdab9;
  margin-bottom: 20px; 
  border: solid black 1px;
}*/

#linko {
  color: black;

}



